.git
.github
node_modules
venv
.idea
.pytest_cache
build
dist
secureagentnet.egg-info
securenet-website
uploads
.coverage
scratch
tests
securenet-website/node_modules
__pycache__
*.pyc
*.pyo
*.pyd
.env
